
html{
  margin: 0px;
  padding: 0px;
  
  background-color: rgb(255, 255, 255);

}
@media screen and (min-width: 750px) {
  #logo{
  display: block;
  height: 150px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(87, 85, 85);
  margin-left: auto;
  margin-right: auto;
  }
  h1{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(255, 255, 255);
  }


}

@media screen and (max-width: 749px) {
  #logo{
    display: block;
    height: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(87, 85, 85);
    margin-left: auto;
    margin-right: auto;
  }
  h1{
    color: rgb(0, 0, 0);
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
  }


}


#divimglogo{
  top: 50px;
  position: absolute;
  width: 100%;
  float: center;
  
}



#blococentral{
   border-radius: 15px;
   background-image: url(https://i.imgur.com/6GCgvVL.jpg);
   margin: auto;
   margin-top: 100px;
   width: 85%;
   padding: 15px;
   box-shadow: 0px 0px 6px rgb(48, 48, 48);
   max-width: 900px;

}

#conj{
  margin: auto;
  padding-top: 20px;
  padding-bottom: 50px;
  background-image: url(https://i.imgur.com/RNonA58.jpg);
  width: 80%;
  box-shadow: 0px 0px 6px rgb(44, 44, 44);
  margin-top: 50px;
  border-radius: 3px;
  justify-content: center;

}

#arma{
  background-color: hotpink;
  height: 90%;
  width: 50%;
  margin: auto;
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 10px;

}

#municao{
  background-color: rgb(89, 0, 255);
  height: 90%;
  width: 50%;
  margin: auto;
  margin-left: 5px;
  margin-right: 10px;
  border-radius: 10px;
  

}


#campos{
 background-color: rgba(0, 0, 255, 0);
 text-align: center;
 margin-bottom: 40px;
 
}
#campos label{
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#forms{
  padding-top: 20px;
}

input{
  -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    background-color: rgb(226, 226, 226);
    border: none;
    
    font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    height: 24px;
    line-height: 24px;
    margin: 0;
    min-width: 0%;
    outline: none;
    padding: 2px;
    z-index: 0;
    text-align: center;
    width: 40%;
}
#linha{
  margin: auto;
  width: 40%;
 }
 hr{
  height:2px;
  border-width:0;
  color:gray;
  background-color:gray
 }
 #separalinha{
  height:2px;
  border-width:0;
  color:rgba(172, 169, 169, 0.418);
  background-color:rgba(128, 128, 128, 0.308);
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
 }
 #botao{
   background-color: cadetblue;
   color: white;
   height: 50px;
 }
 #botao:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
input:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#res{
  padding: 50px;
}
#res p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  
}
